Repository alisterXavier/ecommerce-project-uni: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-tests, run-create-image-and-publish

more circleci updates
  .circleci/config.yml
  .circleci/frontend_config.yml
  .circleci/server_config.yml
Due: none

test
  .circleci/config.yml
  .circleci/frontend_config.yml
Due: none

test again
  .circleci/frontend_config.yml
Due: none

test
  .circleci/frontend_config.yml
Due: none

as
  .circleci/frontend_config.yml
  .circleci/server_config.yml
Due: none

workkkk
  .circleci/config.yml
  .circleci/frontend-config.yml
  .circleci/server-config.yml
Due: none

once againnnn workkkk
  .circleci/config.yml
Due: none

once againnnn workkkkk 2
  .circleci/server-config.yml
Due: none

one last timeeee
  .circleci/server-config.yml
Due: none

one last time againnn
  .circleci/server-config.yml
Due: none

once again one last time
  .circleci/config.yml
  .circleci/server-config.yml
Due: none

design fix, circleci modified, vercel dep
  .circleci/frontend-config.yml
  .circleci/server-config.yml
  app/.env.production
  app/app/Components/Mainsection/headerCarousel.tsx
  app/app/Login/page.tsx
  app/app/globals.css
  pnpm-lock.yaml
  server/.dockerignore
  server/Dockerfile
  server/src/server.js
  yarn.lock
Due: run-tests, run-create-image-and-publish

typo fix in config
  .circleci/frontend-config.yml
Due: none

another typo fix
  .circleci/frontend-config.yml
Due: none

gitignore
  .gitignore
Due: none

workkk
  .circleci/frontend-config.yml
Due: none

server url
  .circleci/frontend-config.yml
  app/.env.production
  app/app/Category/[category]/page.tsx
  app/app/Components/Product-type/small-product.tsx
  app/app/globals.css
  app/next.config.js
  server/dist/index.js
Due: run-tests, run-create-image-and-publish

mobile ver removed nav mobile
  app/app/Components/Mainsection/headerCarousel.tsx
  app/app/Components/Mainsection/masonrySection.tsx
  app/app/Login/page.tsx
  app/app/globals.css
  app/app/layout.tsx
  app/shared/hooks/smallScreen.tsx
Due: run-tests

fixed screenHook
  app/shared/hooks/smallScreen.tsx
Due: run-tests

github
  .circleci/frontend-config.yml
Due: none

small fixes
  .circleci/config.yml
  .circleci/frontend-config.yml
  app/app/Components/Mainsection/headerCarousel.tsx
  app/app/Components/Mainsection/masonrySection.tsx
  app/shared/hooks/products.ts
Due: run-tests

fgh
  .circleci/config.yml
Due: none

asd
  .circleci/config.yml
Due: none

aasd
  .circleci/config.yml
Due: none

doesn't create new main
  .circleci/config.yml
Due: none

install pnpm
  .circleci/frontend-config.yml
Due: none

test
  .circleci/frontend-config.yml
Due: none

product width
  app/app/globals.css
Due: run-tests

test config
  .circleci/frontend-config.yml
  pnpm-lock.yaml
  yarn.lock
Due: none

wait time increased
  .circleci/frontend-config.yml
Due: none

try
  .circleci/frontend-config.yml
  app/app/globals.css
  app/cypress/tailwind/output.css
  app/postcss.config.js
  package-lock.json
  package.json
Due: run-tests

Path conditions:
  run-tests: any of: app/.*
  run-create-image-and-publish: any of: server/.*
